.gridItem {
  display: grid;
  gap: 1rem;
  background-color: white;
  padding: 1rem 1.2rem;
  border-radius: 2cap;
}

.extensionHeader {
  display: flex;
  gap: 1rem;
  align-items: start;
}

.extensionInfo > div {
  font-size: 1.3rem;
  font-weight: 650;
  color: var(--neutral-800);
}

.extensionInfo > p {
  margin: 0;
  padding: 0.6rem 0;
  color: var(--neutral-700);
}

.extensionFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extensionFooter > button {
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--neutral-300);
  outline: none;
  border-radius: 2cap;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 1rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 1rem;
}

input:checked + .slider {
  background-color: var(--red-700);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--red-700);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
