.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.header > h1 {
    color: var(--neutral-700);
    font-size: 2rem;
}

.tabs {
    display: flex;
    gap: 1rem;
}

.tab {
    padding: 0.5rem 1.2rem;
    box-shadow: 1px 1px 4px var(--neutral-300);
    border-radius: 2cap;
    background-color: white;
}

.active {
    background-color: var(--red-700);
    color: white;
}